[Unit]
Description=Linux daemon service for printing visitor badges
After=multi-user.target

[Service]
Type=simple
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
ExecStart=uwsgi --http-socket 0.0.0.0:8080 \
                --plugin python3 \
                --chdir /home/ubuntu/visitor_badge \
                --module main:app

[Install]
WantedBy=multi-user.target
